@charset "UTF-8";

@media screen and (min-width: 768px) {
    span#burguer{
        display: none;
    }
    menu#itens{
        display: block;
    }
    menu li{
        
        display: inline-block;
    }
    menu a{
        border: none;
    }
    main{
        width: 735px; 
        
    }
}
